.acontainer {
    /* Step 1: Set display to grid */
    display: grid;
    /* Step 2: setup rows amd columns */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 1fr;
    grid-template-rows: 100px 200px 1fr 100px;
    grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "feat feat feat feat feat feat feat feat"
        "main main main main main main main main"
        "ft ft ft ft ft ft ft ft";
    border: 2px solid red;
    color: red;
}

.abox {
    width: 100%;
    border: 1px solid red;
    background: #ff8ba0;
}

.aheader {
    grid-area: hd;
    grid-area: hd;
    background-image: url('../Assests/Artemistest.jpg');
    background-size: cover;
}

.afooter {
    grid-area: ft;
}

.afeature {
    grid-area: feat;
    background-color: #FFCCCB;
}

.acontent {
    grid-area: main;
}

#anestedGrid {
    grid-area: nested;
    display: grid;
    grid-template-columns: 1fr ;
    /*Equal width for all columns*/
    grid-template-rows: 1fr;
    /*Equal height for all rows*/
    margin: auto;
    grid-gap: 10px;
    /*border: 2px solid red;*/
    padding: 15px;
}

.aphotoBox {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid blue;
    padding: 15px;
    width: 200px;
    /*Adjust the width as needed*/
    height: 200px;
    /*Adjust the height as needed*/
}

#aone {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid red;
    background-image: url('../Assests/Artemis1.png');
    background-size: contain;
}

#atwo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid red;
    background-image: url('../Assests/Artemis2.png');
    background-size: contain;
}

#athree {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid red;
    background-image: url('../Assests/Artemis3.png');
    background-size: contain;
}

#afour {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid red;
    background-image: url('../Assests/Artemis4.png');
    background-size: contain;
}

#afive {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid red;
    background-image: url('../Assests/Artemis5.png');
    background-size: contain;
}

#asix {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid red;
    background-image: url('../Assests/Artemis6.png');
    background-size: contain;
}

@media(min-width:600px) and (max-width:1000px){
    .acontainer {
        /* Step 1: Set display to grid */
        display: grid;
        /* Step 2: setup rows amd columns */
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: 1fr;
        grid-template-rows: 100px 200px 1fr 100px;
        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "feat feat feat feat feat feat feat feat"
            "main main main main main main main main"
            "ft ft ft ft ft ft ft ft";
        border: 2px solid red;
    }

    .abox {
        width: 100%;
        border: 1px solid red;
        background: #ff8ba0;
    }

    .aheader {
        grid-area: hd;
        grid-area: hd;
        background-image: url('../Assests/Artemistest.jpg');
        background-size: cover;
        color: red;
    }

    .afooter {
        grid-area: ft;
    }

    .afeature {
        grid-area: feat;
        background-color: #FFCCCB;
    }

    .acontent {
        grid-area: main;
    }

    #anestedGrid {
        grid-area: nested;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        /*Equal width for all columns*/
        grid-template-rows: 1fr 1fr ;
        /*Equal height for all rows*/
        margin: auto;
        grid-gap: 10px;
        /*border: 2px solid red;*/
        padding: 15px;
    }

    .aphotoBox {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid blue;
        padding: 15px;
        width: 200px;
        /*Adjust the width as needed*/
        height: 200px;
        /*Adjust the height as needed*/
    }

    #aone {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border: 1px solid red;
        background-image: url('../Assests/Artemis1.png');
        background-size: contain;
    }

    #atwo {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border: 1px solid red;
        background-image: url('../Assests/Artemis2.png');
        background-size: contain;
    }

    #athree {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border: 1px solid red;
        background-image: url('../Assests/Artemis3.png');
        background-size: contain;
    }

    #afour {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border: 1px solid red;
        background-image: url('../Assests/Artemis4.png');
        background-size: contain;
    }

    #afive {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border: 1px solid red;
        background-image: url('../Assests/Artemis5.png');
        background-size: contain;
    }

    #asix {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border: 1px solid red;
        background-image: url('../Assests/Artemis6.png');
        background-size: contain;
    }
}

@media(min-width:1001px) {
    .acontainer {
        /* Step 1: Set display to grid */
        display: grid;
        /* Step 2: setup rows amd columns */
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: 1fr;
        grid-template-rows: 100px 200px 600px 100px;
        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "feat feat feat feat feat feat feat feat"
            "main main main main main main main main"
            "ft ft ft ft ft ft ft ft";
        border: 2px solid red;
        color: red;
    }

    .abox {
        width: 100%;
        border: 1px solid red;
        background: #ff8ba0;
    }

    .aheader {
        grid-area: hd;
        grid-area: hd;
        background-image: url('../Assests/Artemistest.jpg');
        background-size: cover;
    }

    .afooter {
        grid-area: ft;
    }

    .afeature {
        grid-area: feat;
        background-color: #FFCCCB;
    }

    .acontent {
        grid-area: main;
    }

    #anestedGrid {
        grid-area: nested;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /*Equal width for all columns*/
        grid-template-rows: 1fr 1fr;
        /*Equal height for all rows*/
        margin: auto;
        grid-gap: 10px;
        /*border: 2px solid red;*/
        padding: 15px;
    }

    .aphotoBox {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid blue;
        padding: 15px;
        width: 200px;
        /*Adjust the width as needed*/
        height: 200px;
        /*Adjust the height as needed*/
    }

    #aone {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border: 1px solid red;
        background-image: url('../Assests/Artemis1.png');
        background-size: contain;
    }

    #atwo {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border: 1px solid red;
        background-image: url('../Assests/Artemis2.png');
        background-size: contain;
    }

    #athree {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border: 1px solid red;
        background-image: url('../Assests/Artemis3.png');
        background-size: contain;
    }

    #afour {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border: 1px solid red;
        background-image: url('../Assests/Artemis4.png');
        background-size: contain;
    }

    #afive {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border: 1px solid red;
        background-image: url('../Assests/Artemis5.png');
        background-size: contain;
    }

    #asix {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border: 1px solid red;
        background-image: url('../Assests/Artemis6.png');
        background-size: contain;
    }

}
